/*
Theme Name: Mamucium Restaurant
*/

/**/
@import url("https://use.typekit.net/gkk1jmg.css");
/* font-family: "nimbus-sans-condensed"; */

@font-face {
    font-family: 'blanchcaps';
    src: url('fonts/blanch_caps-webfont.woff2') format('woff2'),
         url('fonts/blanch_caps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ashleybrushscript2regular';
    src: url('fonts/ashley-brush-script-webfont.woff2') format('woff2'),
         url('fonts/ashley-brush-script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'NeutraTextTF-Bold';
  src: url('fonts/NeutraTextTF-Bold.woff2') format('woff2'),
      url('fonts/NeutraTextTF-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NeutraTextTF-Book';
  src: url('fonts/NeutraTextTF-Book.woff2') format('woff2'),
      url('fonts/NeutraTextTF-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**/



img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
a {
    color: #a59160;
}
a:hover {
    color: #FFF;
    text-decoration: none;
}
/**/


.transitionAll {
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
}

/**/
.btn {
    color: #FFF;
    border: solid 2px #FFF;
    font-size: 32px;
    line-height: 46px;
    width: 350px;
    max-width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'blanchcaps';
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.1em;
    box-shadow: none !important;
    background-color: transparent;
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.btn:hover {
    border-color: #a59160;
    color: #a59160;
}

.btn-default {
    color: #a59160;
    border-color: #a59160;
}
.btn-default:hover {
    color: #FFF;
    background-color: #a59160
}

.btn-black {
    width: 315px;
    color: #FFF;
    border-color: #000;
    background: #000;
    height: 66px;
    line-height: 62px;
    font-size: 38px;
    letter-spacing: 0.1em;
}
.btn-black:hover{
    color: #000;
    background-color: #FFF;
    border-color: #000;
}

.btn-black-border {
    color: #000;
    border-color: #000;
}
.btn-black-border:hover {
    color: #a59160;
    border-color: #a59160;
}



.btn-white {
    background-color: transparent;
    border-color: #a59160;
	color: #FFF;
}
.btn-white:hover{
    color: #FFF;
	background-color: #000;
    border-color: #FFF;
}


.button_group {}
.button_group .btn {
    margin: 8px 16px;
}


.the-chef .button_group .btn {
    font-family: "nimbus-sans-condensed";
    font-size: 24px;
}

.bs_hsc .button_group .btn {
    font-size: 38px;
    color: #FFF;
}



/**/
.container {
    width: 100%;
    max-width: 1440px;
}
.container-fluid {
    max-width: 100%;
}
.container-small {
    max-width: 930px;
}
.container-news {
    max-width: 930px;
    margin: 0 auto;
}
.container-medium {
    max-width: 1140px;
}

.container_size {}

::-moz-selection {
    color: #FFF;
    background: #a59160;
}

::selection {
    color: #FFF;
    background: #a59160;
}
/**/
body {
    font-family: 'NeutraTextTF-Book';
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    background: #000;
    color: #FFF;
    padding: 170px 0 0;
}
.transparent_header body {
    padding-top: 0 !important;
}

/**/
.site_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 21px 0;
    z-index: 9;
}
.fixed .site_header {
    background-color: #000;
}
.header-container {
    padding: 0 67px;
}
.headerLeft {
    float: left;
    margin: 8px 0;
}

.social_media {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    float: left;
}
.social_media li {
    display: inline-block;
    margin: 0 8px 0 0;
}
.social_media li a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: solid 2px #A59160;
    color: #A59160;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    box-sizing: content-box;
}
.social_media li a:hover i{
    color: #FFF;
    border-color: #FFF;
}

.topMenu {
    float: left;
}
.topMenu ul {
    margin: 0 0 0 25px;
    padding: 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}
.topMenu ul li {
    display: inline-block;
    font-family: 'blanchcaps';
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1em;
}
.topMenu ul li a {
    display: block;
    border: solid 1px #a59160;
    color: #a59160;
    text-transform: uppercase;
    padding: 0 20px;
    text-decoration: none;
}
.topMenu ul li a:hover {
    color: #FFF;
    border-color: #FFF;
}

.scroll_logo {
    float: left;
    margin: 0 0 0 25px;
}
.scroll_logo img {
  display: block;
  width: 0px;
  -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
       -o-transition: all 0.25s ease;
          transition: all 0.25s ease;
}
.fixed .scroll_logo img {
  width: 210px;
}
/**/
.headerRight {
    float: right;
}
.icon_hamburger {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none !important;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.icon_hamburger img {
    display: block;
    width: 60px;
    height: 60px;
}

img.icon_hamburger_close {
    position: absolute;
    left: 0;
    top: 0;
	opacity:0;
	    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.menu_active img.icon_hamburger_close {
	opacity:1;
}



.mainMenu {
    position: relative;
	    visibility: hidden;
	
}
.mainMenu.openmainMenu {
	    visibility: visible;
}
.mainMenuContainer {
    text-align: right;
    position: fixed;
    right: 0;
    width: 350px;
    /*background: rgba(0,0,0,0.5);*/
    padding: 81px 0 0 0;
    top: -21px;
    height: 100vh;

}
.mainMenuScroller {
    padding: 0 67px 30px 0;
    overflow: auto;
	display:none;
}
.mainMenu ul {
    margin: 0;
    padding: 1px 0 0;
    list-style: none;
    position: relative;
}
.mainMenu ul:before {
    content: "";
    height: 0;
    width: 2px;
    background: #FFF;
    position: absolute;
    right: 29px;
    top: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.openmainMenu.mainMenu ul:before {
    
    height: 100%;
    
}
.mainMenu ul li {
    font-family: 'NeutraTextTF-Bold';
    font-size: 16px;
    line-height: 1.15;
    font-weight: normal;
    position: relative;
    padding: 0;
    margin: 56px 0 0 0;
    color: #FFF;
    text-transform: uppercase;
    -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.mainMenu ul> li > a:after {
    content: "";
    display: block;
    position: absolute;
    right: 21px;
    width: 18px;
    height: 18px;
    border: solid 1px #FFF;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    top: 50%;
    transform: translateY(-50%);
    background: #A59160;
        -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.mainMenu ul> li > a:hover:after, .mainMenu ul> li.active > a:after {
    background: #FFF;
}
.mainMenu ul li a {
    padding: 0 56px 0 0;
    color: #FFF;
    position: relative;
    text-decoration: none;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}
.mainMenu ul li a span {
    opacity: 0.5;
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.mainMenu ul li a:hover span, .mainMenu ul li.active a span {
    opacity: 1;
}
/**/
.sidebarmenuicon {
position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 102px;
    background: #FFF;
}
.icon_hamburger_close {
    position: absolute;
    right: 67px;
    top: 21px;
    display: block;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none !important;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
}
.icon_hamburger_close img {
    display: block;
    width: 60px;
    height: 60px;
}



    .sidebar_scroller {
    padding: 0 67px;
    overflow: auto;
    height: 100vh;
}


.sidebarMenu {
    position: fixed;
    top: 0;
    background: #FFF;
    right: 0;
    height: 100vh;
    padding: 1px 0 0;
    width: 574px;
    border-left: solid 17px #a3915f;
    padding: 0;
    z-index: 10;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
        -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
}
.sidebarMenu.openmenu {
    transform: translateX(0);
    -webkit-transform: translateX(0);

}
.menu-sidebar-menu-container {
    padding: 102px 0 0;
}
.sidebarMenu .nav {
    margin: 0;
    padding: 112px 0 60px;
    display: block;
    text-align: right;
}
.sidebarMenu .nav > li {
    margin: 0 0 26px;
    font-family: 'blanchcaps';
    font-size: 45px;
    letter-spacing: 0.175em;
    line-height: 0.75;
    color: #a5915f;
}
.sidebarMenu .nav > li:last-child {
    margin-bottom: 0;
}
.sidebarMenu .nav > li > a {
    color: #a5915f;
}
.sidebarMenu .nav > li > a:hover, .sidebarMenu .nav > li.active > a {
    color: #000;
}
.sidebarMenu .nav > li > .submenu {
    display: none;
}



.sidebar_footer {
    padding: 0 0 24px;
}

.sidebar_footer .btn {
    display: block;
    width: 100%;
    height: 64px;
    line-height: 60px;
    margin: 0 0 20px;

}
.sidebar_social_bar {
  margin: 0 0 15px;
}
.sidebar_social_bar .social_media li a:hover i {
    color: #000;
    border-color: #000;
}

.sidebar_social_bar .social_media {
  float: right;
}
.sidebar_footer .sidebar-info {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.1em;
    color: #000;
    text-align: right;
}
.sidebar_footer .sidebar-info li {
    margin: 0 0 2px;
}
.sidebar_footer .sidebar-info a {
    color: #000;
}
.sidebar_footer .sidebar-info a:hover {
    color: #a5915f;
}
.sidebar_footer .sidebar-info a .flabel {
    font-family: 'NeutraTextTF-Bold';
}
.sidebar_footer .sidebar-info a br {
display: none;
}
/**/
.heder-container {
    position: relative;
    z-index: 2;
}
.site-logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
}

.site-logo img {
    display: block;
    width: 388px;
    margin: 0 auto;
}
/**/
.heroSec {
    position: relative;
}
.heroSec:before {
    content: "";
    display: block;
    height: 270px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url('images/header_bg.png') repeat-x left top;
    z-index: 1;
}
.heroSec:after {
    content: "";
    display: block;
    height: 285px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('images/hero_bg.png') repeat-x left bottom;
}

.hero_itm {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bingJourney {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-family: 'blanchcaps';
    font-size: 28px;
        line-height: 1.2;
    color: #a59160;
    letter-spacing: 0.175em;
}
.bingJourney img {
    display: block;
    width: 20px;
    margin: 0 auto 7px;
        -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}
.bingJourney a {
    color: #a59160;
    text-decoration: none;
}
.bingJourney a:hover {
    color: #FFF;
}
/**/

.error404 .bloc_section {
    padding: 165px 0;
    width: 100%;
}
.error404 .bloc_section .sec_head {
    margin: 0 0 15px;
}
.error404 #content {
    margin: 0;
}
.bloc_section {
    padding: 165px 0 130px;
    position: relative;
}
.sec_head {
    position: relative;
    margin: 0 0 60px;
}


.sec_head h2.heading, h2, h1 {
    margin: 0;
    padding: 0;
    font-family: 'blanchcaps';
    font-size: 80px;
    line-height: 1;
    letter-spacing: 0.175em;
}
.entry-content .entry-title {
    line-height: 0.75;
    margin: 0 0 38px;
}

.sec_head h3.sub_heading {
    margin: 10px 0 27px;
    padding: 0;
    font-family: 'NeutraTextTF-Bold';
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #7a9f8c;
}

.shape_01 {
    padding: 21px 0 0;
}
.shape_01 img {
    max-width: 207px;
}
.shape_02 {
    margin: 0 0 38px;
}
.shape_02 img {
    max-width: 123px;
}

.bloc_section p {
    margin: 0 0 40px;
}
.bloc_section p .script {
    font-family: 'ashleybrushscript2regular';
    font-size: 127%;
    line-height: 0.75;
    color: #a59160;
}
#the-chef.bloc_section p img {
    margin-top: 3px;
}
/**/
.site-slider .slick-arrow {
    position: absolute;
    top: 50%;
    width: 90px;
    height: 176px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background: none;
    border: none;
    outline: none;
    border-radius: 0;
    border-spacing: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.site-slider .slick-arrow:hover {
    opacity: 0.5;
}
.site-slider .slick-arrow.slick-prev {
    background-image: url('images/sl_arrow_left.svg');
    left: 8%;
}
.site-slider .slick-arrow.slick-next {
    background-image: url('images/sl_arrow_right.svg');
    right: 8%;
}


.sl-gold-arrow .site-slider .slick-arrow.slick-prev {
    background-image: url('images/sl_arrow_gold_left.svg');
}
.sl-gold-arrow .site-slider .slick-arrow.slick-next {
    background-image: url('images/sl_arrow_gold_right.svg');
}
/**/
.bs_four_column .sec_head h2.heading {
    letter-spacing: 0.3em;
}
.box_thumb_title {
    position: relative;
    overflow: hidden;
    background: #000;
}
.box_thumb_title img{
    display: block;
    width: 100%;
}
.box_thumb_title .box_title {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #000000;
    border-radius: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    padding: 9px;
}
.box_title_inner {
    border: solid 5px #a59160;
    position: relative;
    height: 100%;
    border-radius: 100%;
}

.box_title h3 {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 50%;
    font-family: 'blanchcaps';
    font-weight: normal;
    letter-spacing: 0.3em;
    font-size: 60px;
    line-height: 0.7;
    margin: 0 0 -5px;
    text-indent: 20px;
}
.box_copy {
    padding: 65px 0 0;
}
.box_copy h4 {
    margin: 0 0 10px;
    padding: 0;
    font-family: 'blanchcaps';
    font-weight: normal;
    font-size: 34px;
    letter-spacing: 0.3em;
    color: #7a9f8c;
}
.box_copy .box_btn {
        line-height: 1.35;
    padding: 12px 0 0;
}
.box_copy .box_btn a {
    color: #7a9f8c;
}
.box_copy .box_btn a:hover {
    color: #a59160
}
/**/
.bs_menu.bloc_section {
    padding: 83px 0 97px;
}

.bs_menu.bloc_section  .sec_head {
    margin: 0 0 6px;
}

.bs_menu .nav-tabs .btn {
    width: auto;
    min-width: 200px;
}


.bs_menu .shape_01 {
    padding-bottom: 31px;
}

.nav-tabs {
    border: none;
    display: block;
    text-align: center;
}
.nav-tabs li, .nav-tabs .nav-item {
    margin: 18px;
    display: inline-block;
}

.nav-tabs li .btn-default:hover {
    color: #FFF !important;
}
.accordion_item {
    border-bottom: solid 2px #caa276;
    margin: 0 0 40px;
}
.menu-card-header {
    border-top: solid 2px #caa276;
    position: relative;
    font-family: 'blanchcaps';
    font-size: 26px;
    line-height: 1;
    color: #a59160;
        letter-spacing: 0.1em;
}
.menu-card-header a.acclink {
    display: block;
    position: relative;
    color: #a59160;
    padding: 5px 45px;
    text-align: center;
}
.menu-card-header a.acclink:hover {
    color: #000;
}
.menu-card-header a.acclink .acc_arrow {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.menu-card-header a.acclink .acc_arrow img {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    display: block;
    width: 10px;
    height: 17px;
}
.menu-card-header a.acclink.collapsed .acc_arrow img {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.menu-card .menu-card-body {
    border-top: solid 2px #caa276;
}

.menu_item_list {
    color: #000;
    padding: 6px 0 26px;
}

.menu_list_box {
    margin: 15px 0 0;
}

.menu_item_list .menu_title{
    margin: 0;
    padding: 0;
    font-family: 'blanchcaps';
    font-weight: normal;
    font-size: 26px;
    line-height: 1;
}
.menu_item_list .menu_description {
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.1em;
}


.bs_menu .shape_02 {
    margin: 0 0 28px;
}
/**/
.slick-slide {
    outline: none !important;
}
.bloc_section.bs_hsc {
    padding: 60px 0;
}
.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}
/**/
.head-icon img {
    display: block;
    max-width: 105px;
    margin: 0 auto;
}

.bloc_section.bs_hsc .site-slider {
    margin: 0 0 75px;
}
.bloc_section.bs_hsc .column-content h2 {
    color: #7a9f8c;
    line-height: 0.75;
}
.bloc_section.bs_hsc .btn-default {
    /*color: #FFF;*/
}
.bs_hsc .button_group {
    padding-top: 13px;
}
/**/
.bs_news {
}
.bloc_section.bs_news {
    padding: 89px 0 100px;
}

.bs_news .sec_head {
    margin: 0 0 87px;
}

.news-item {
    padding: 0 12px;
}
.news-item-inner {
    padding: 0 255px;
}

.news-item h2 {
    line-height: 0.75;
    margin: 0 0 37px;
}

.bloc_section .news-excerpt {
	padding-right:10%;
}
.news-more a {
        font-family: 'blanchcaps';
    font-size: 38px;
    letter-spacing: 0.1em;
    color: #000;
    outline: none;

}
.news-more a:hover {
    color: #FFF;
}

.bs_news .button_group {
    padding: 50px 0 0;
}

.site-slider .slick-arrow.slick-prev {
    left: 7%;

}

.site-slider .slick-arrow.slick-next {

        right: 7%;
}


/**/
.footer-section {
    padding: 57px 0 1px;
    background: #FFF;
}
.footer-section .footer-info {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-section .footer-info li {
    line-height: 1.4;
    margin: 0 0 24px;
    letter-spacing: 0.1em;
}
.footer-section .footer-info li a {
    color: #101216;
    text-decoration: none;
    position: relative;
    padding: 0 0 0 32px;
    display: inline-block;
}
.footer-info span.flabel {
    font-family: 'NeutraTextTF-Bold';
    position: absolute;
    left: 0;
    top: -1px;
}

.footer-section .footer-info li a:hover {
    color: #a59160;
}

.footer_logo {
    text-align: right;
}
.footer_logo img {
    width: 260px;
    max-width: 100%;
}
.m_cafe_footer_logo img {
    width: 124px;
    max-width: 100%;
}



.menu-footer-menu-container {
    padding: 7px 0 0;
}
.menu-footer-menu-container .menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-footer-menu-container .menu li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin: 0 43px 12px 0;
}

.menu-footer-menu-container .menu li a:hover {
    color: #000;
}
/**/
.mb-0-slider.bloc_section.bs_hsc .site-slider{
    margin-bottom: 0;
}
/**/
.sl-col-2-content {
    padding: 0 10% 0 1%;
}
.sl-col-2-content p {
    color: #A59160;
}
.sl-col-2-content .news-excerpt {
    min-height: 200px;
}


.section_cta {
    position: relative;
    padding: 43px 0 61px;
}
.section_cta .image-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 34%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.section_cta .container {
    position: relative;
}

.cta_icon img {
    max-width: 300px;
    margin: 0 0 32px;
}

.section_cta  h3 {
    font-family: 'blanchcaps';
    font-size: 50px;
    letter-spacing: 0.175em;
}


.section_cta .image-bg .bg_shape {
    content: "";
    display: block;
    position: absolute;
    right: -30%;
    height: 100%;
    background: #000;
    transform: rotate(45deg);
}
/**/
body.blog .container {
    max-width: 1400px;
}
.news_bar .container {
    max-width: 1400px;
}
body.blog #content, body.search-results #content {
    padding-bottom: 85px;
}
.news_bar {
    background: #a59160;
    color: #FFF;
    padding: 37px 0;
    margin: 0 0 60px;
    position: relative;
}
.news_bar .container{
    position: relative;
}
.news_bar .news_back {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
        font-family: 'blanchcaps';
    font-size: 38px;
    letter-spacing: 0.1em;
}
.news_bar .news_back a {
    color: #FFF;
}
.news_bar .news_back a span {
    position: relative;
    top: 3px;
}
.news_bar .news_back a:hover {
    color: #000;
}
.news_bar .news_heading{
    text-align: center;
    font-family: 'blanchcaps';
    font-size: 80px;
    line-height: 1;
    letter-spacing: 0.3em;
    color: #FFF;

}
.news_bar .news_search{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
        width: 60px;
    height: 60px;
    border-radius: 60px;
    border: solid 2px #FFF;
    text-align: center;
}
.news_bar .news_search img {
    display: block;
    width: 31px;
    height: 31px;
    margin: 13px auto;
}

.large_post {

}
.large_post .divider {
    height: 2px;
    width: 100%;
    background: #a59160;
    margin: 54px 0;
}

.post_content h2 {
    line-height: 0.75;
    margin: 0 0 42px;
}
body.search .post_content h2.search_result_heading {
    margin: 0 0 15px;
}


article#post-not-found {
    padding: 80px 0 140px;
}

.blog .large_post .post_content {
    padding: 40px 15% 100px 0;
}
.blog .large_post .post_url {
    position: absolute;
    bottom: 27px;

}

.blog .large_post .post_content p {
    margin: 0 0 39px;
}
.post_url {

    font-family: 'blanchcaps';
    font-size: 38px;
    letter-spacing: 0.1em;
}
.post_url a {

}
.post-image img {
    display: block;
    width: 100%;

}

.small_post {
    margin: 0 0 60px;
}

.small_post .post_content h2 {
    font-size: 42px;
    line-height: 0.81;
    margin: 32px 0 25px;
}
.small_post .post_excerpt p {
    font-size: 18px;
    line-height: 1.6;
}

.small_post  .post_url {
    padding: 4px 0 0;
}

.wp-pagenavi {
    font-size: 0;
    line-height: 0;
    padding: 35px 0 0;
}
.wp-pagenavi .pages, .wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
    display: none;
}
.wp-pagenavi .page, .wp-pagenavi span  {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #a59160;
    margin: 4px;
    cursor: pointer;
    vertical-align: top;
}
.wp-pagenavi span.current  {
    background: #FFF;
}
/**/
.post_image {
    margin: 0 0 52px;
}

.entry-content p {
    font-size: 18px;
        line-height: 1.65;
    margin: 0 0 31px;

}
.entry-content ul, .entry-content ol {
    font-size: 18px;
    line-height: 1.65;
    margin: 0 0 17px;
}

.entry-content ul li, .entry-content ol li {
    margin: 0 0 14px;
}

.wp-caption {
    background: #a59160;
    color: #FFF;
	margin:0 0 23px;
}
.wp-caption img {
    display: block;
    width: 100%;
}
.wp-caption p{
    margin: 0 !important;
    text-align: right;
    font-size: 14px;
    padding: 5px 16px;
}

.alignright {
    float: right;
    margin: 0 0 15px 25px;
}

.alignleft {
    float: left;
    margin: 0 25px 17px 0;

}

.aligncenter {
    margin: 0 auto 31px;
    display: block;
}




.blog-pagination {
    margin: 0 0 107px;
    position: relative;
    border-top: solid 2px #a59160;
    font-family: 'blanchcaps';
    font-size: 38px;
    line-height: 0.75em;
    letter-spacing: 0.1em;
    padding: 22px 0;
}
.blog-pagination .prev-posts {
    float: left;
}
.blog-pagination .next-posts {
    float: right;
}

.share-icons {
    margin: 0 0 50px;
    padding: 13px 0 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
}
.share-icons li {
    display: inline-block;
    margin: 0 8px 0 0;
    color: #a59160;
}
.share-icons li span {
    display: inline-block;
    font-family: 'blanchcaps';
    line-height: 0.75;
    font-size: 38px;
    letter-spacing: 0.1em;
}
.share-icons li a i {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    border: solid 2px #A59160;
    color: #A59160;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    line-height: 44px;
    box-sizing: content-box;
}
.share-icons li a:hover i{
        color: #FFF;
    border-color: #FFF;
}

/**/
.find-us_box {
    position: relative;
}
.find-us_box .find-us-top-image {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-78%, -24%);
    -webkit-transform: translate(-78%, -24%);
}

.find-us_box .btn {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


.col-right-space {
    padding: 40px 31% 0 0;
}

.register-sec h2 {
    line-height: 0.75;
    margin: 0 0 38px;
}


.register-sec .gform_wrapper .top_label .gfield_label {
    display: none ;
}

.register-sec .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .register-sec .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    display: none;
}

.register-sec .gform_wrapper span {
    display: block;
}
.register-sec .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    display: block;
    background: #ccc;
    height: 30px;
    padding: 0 17px;
    border: none;
    font-family: 'NeutraTextTF-Book';
    font-size: 15px;
    font-weight: normal;
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}

.form_area {
    padding: 33px 0 0;
    max-width: 82%;
}
.form_area h5 {
    margin: 0 0 9px;
    padding: 0;
    color: #a59160;
    font-size: 22px;
}
body .gform_wrapper {
    margin: 0;
    position: relative;
}
body .gform_wrapper ul li.gfield {
    margin: 0 0 15px !important;
}
body .gform_wrapper ul li.gfield:last-child {
    margin: 0 0 0 !important;
}
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0!important;
}


body .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, body .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, body .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle {
    display: block;
}


body .gform_wrapper .gform_footer {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);

}


body .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], body .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
    display: block;
    width: 100%;
}

.divider-list-item ul {
    margin: 0;
    padding: 0;
}

.gform_wrapper ul.gfield_checkbox li, .gform_wrapper ul.gfield_radio li {
    margin: 0;
    padding: 0;
    position: relative;
}
.gform_wrapper ul.gfield_checkbox li input, .gform_wrapper ul.gfield_radio li input{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
body .gform_wrapper .gfield_checkbox li label {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    position: relative;
}
body .gform_wrapper .gfield_checkbox li label {
padding: 0 0 0 26px;
    position: relative;
    vertical-align: top !important;
    display: block !important;
    max-width: 100%;
    font-weight: normal !important;
}

body .gform_wrapper .gfield_checkbox li label a {
    color: #a59160;
}
body .gform_wrapper .gfield_checkbox li label a:hover {
    color: #000;
    text-decoration: underline;
}

body .gform_wrapper .gfield_checkbox li label:before {
content: "";
    display: block;
    width: 17px;
    height: 17px;
    border: solid 2px #000;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 1px;
}

body .gform_wrapper .gfield_checkbox li input[type="checkbox"]:checked + label:before {
    background: url(images/right_mark_icon.svg) no-repeat center 3px;
    background-size: 10px 7px;
}

.gform_wrapper ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
    margin: 0;
    padding: 0;
}


body .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    color: #FFF;
    border: solid 2px #000;
    font-size: 38px;
    line-height: 62px;
    width: 315px;
    max-width: 100%;
    height: 66px;
    text-align: center;
    font-family: 'blanchcaps';
    margin: 0;
    padding: 0;
    border-radius: 0;
    outline: none;
    text-decoration: none;
    background-color: #000;
    -webkit-transition: all 0.25s ease;
       -moz-transition: all 0.25s ease;
         -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
    cursor: pointer;
    letter-spacing: 0.1em;
}
body .gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type=submit]:hover {
    background-color: #FFF;
    color: #000;
}

.gform_footer .gform_ajax_spinner {
    position: absolute;
}




.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    margin: 0;
    padding: 0 19px !important;
    font-size: 14px;
    font-weight: normal;
}


.gform_wrapper li.gfield.gfield_error.gfield_contains_required .ginput_container_checkbox+div.gfield_description {
    padding: 0 27px !important;
}

.gform_wrapper .validation_message {
    color: #790000;
    font-weight: 700;
    letter-spacing: normal;
    font-size: 14px;
    font-weight: normal;
}

.gform_wrapper div.validation_error {
    font-weight: normal;
    text-align: left;
    line-height: 1.2;
}

.map_popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.map_popup.show_map {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}
.map_popup .mapcloseicon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 47px;
  text-align: right;
}
.map_popup .mapcloseicon img {
    width: 47px;
    height: 47px;
    vertical-align: top;
}
.map_popup iframe {
    display: block;
    width: 100%;
    height: 100%;
}



.map_popup_register {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.map_popup_register.show_map {
    z-index: 9;
    opacity: 1;
    visibility: visible;
}
.map_popup_register .mapcloseicon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}
.map_popup_register .mapcloseicon img {
    width: 47px;
    height: 47px;
}
.map_popup_register iframe {
    display: block;
    width: 100%;
    height: 100%;
}



/**/
.search_bar {
    background: #6b5a32;
    padding: 20px 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    display: none;
}

.search_bg {
    margin: 0 auto;
    padding: 0 100px 0 30px;
    display: block;
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
    background: #FFF;
    position: relative;
}
.search_bg #search {
    display: block;
    width: 100%;
    height: 70px;
    border: none;
    outline: none;
}
.search_bg button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
    border-spacing: 0;
    outline: none;
    margin: 0;
    padding: 0;
    background: #e4e4e4;
        height: 100%;
    width: 70px;
    cursor: pointer;
}
/**/

.mainMenu {
        display: none !important;
    }

@media only screen and (max-height: 799px) {
    .mainMenu ul li {
        /*margin-top: 16%;*/
		margin-top: 4vh;
    }
}



@media only screen and (min-width: 1200px) {
    
}
@media only screen and (max-width: 1400px) {
    .bs_news .site-slider .slick-arrow.slick-prev {
    left: 0;
}
    .bs_news .site-slider .slick-arrow.slick-next {
        right: 0;
    }
    .news-item-inner {
    padding: 0 100px;
}

	/**/
.bloc_section {
    padding: 80px 0 50px;
    position: relative;
}

	.sec_head {
    position: relative;
    margin: 0 0 30px;
}
	.sec_head h2.heading, h2, h1 {
		font-size:60px;
	}

	.shape_01 img {
    max-width: 170px;
}

	.bloc_section p {
    margin: 0 0 20px;
}

	.shape_02 {
    margin: 0 0 20px;
}

	.bloc_section.bs_hsc .site-slider {
    margin: 0 0 60px;
}

	.bs_news .sec_head {
    margin: 0 0 30px;
}
	.bs_news .button_group {
    padding: 40px 0 0;
}
	.bloc_section.bs_news {
    padding: 60px 0;
}



}
@media only screen and (max-width: 1360px) {
    body {
        padding: 120px 0 0;
    }
    .mainMenu {

    }
	.mainMenuScroller {
		padding: 0 30px 30px 0;
	}
    .header-container {
        padding: 0 30px;
    }
    .container {
    padding: 0 30px;
}

    /**/
    .sidebar_scroller {
        padding: 0 30px;
    }
    .icon_hamburger_close {
        right: 30px;
    }
    /**/
    .news_bar {
            padding: 30px 0;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        font-size: 18px;
        padding: 70px 0 0;
    }

    .news_bar .news_back {
        font-size: 24px;
    }

    .news_bar .news_heading {
        font-size: 50px;
    }

    .news_bar .news_search {
            width: 50px;
    height: 50px;
    }
    .news_bar .news_search img {
    display: block;
    width: 20px;
    height: 20px;
    margin: 13px auto;
}


/**/
.fixed .scroll_logo img {
    width: 160px;
}
    /**/
    .sidebarMenu .nav > li {
        font-size: 30px;
    }
    .sidebarmenuicon {
        height: 70px;
    }
	.sidebarMenu .nav {
		padding: 80px 0 26px; 
	}
    .icon_hamburger_close img {
    width: 40px;
    height: 40px;
}
    .sidebar_footer .btn {
            height: 54px;
    line-height: 50px;
    }
    /**/

    .btn {
        font-size: 26px;
        line-height: 36px;
        width: 260px;
        height: 40px;
    }

    .site_header {
        padding: 15px 0;
    }
    .headerLeft {
    float: left;
    margin: 4px 0;
}
    .social_media li a i {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        font-size: 14px;
        line-height: 30px;
    }

    .topMenu ul li {
        font-size: 20px;
        line-height: 30px;
    }
    .topMenu ul li a {
        padding: 0 15px;
    }

    .icon_hamburger img {
    display: block;
    width: 40px;
    height: 40px;
}

	.mainMenuContainer {
		    padding: 55px 0 0 0;
    top: -15px;
	}

	.mainMenuScroller {
    padding: 0 20px 30px 0;
}

    /**/
    .site-logo img {
        width: 260px;
    }
    .bingJourney img {
        font-size: 15px;
    }
    /**/
    .bloc_section, .bs_menu.bloc_section, .bloc_section.bs_news, .bloc_section.bs_hsc {
    padding: 60px 0;
    position: relative;
}

    .sec_head h2.heading, h2, h1 {
        font-size: 50px;
    }
    .sec_head h3.sub_heading {
        font-size: 16px;
    }
    .bloc_section p {
    margin: 0 0 20px;
}
    .sec_head {
    position: relative;
    margin: 0 0 30px;
}
    .shape_02 {
    margin: 0 0 30px;
}

    /**/
    .site-slider .slick-arrow {
        width: 60px;
        height: 117px;
    }
    /**/
    .box_title h3 {
        font-size: 40px;
    }
    .box_copy {
    padding: 20px 0 0;
}
    .box_copy h4 {
        margin: 0 0 10px;
        font-size: 30px;
        letter-spacing: 0.3em;
        color: #7a9f8c;
        line-height: 0.75;
    }

    /**/
    .head-icon img {

    }

    body .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
        font-size: 26px;
    line-height: 36px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    }


    .bs_news {}
    .news-item-inner {
        padding: 0 60px;
    }
    .bs_news .site-slider .slick-arrow.slick-prev {
        left: 0;
    }
    .bs_news .site-slider .slick-arrow.slick-next {
        right: 0;
    }


    /**/
    .footer_logo img {
    /*width: 230px;*/
}
    .form_area {
    padding: 10px 0 0;
    max-width: 100%;
}

    .bs_news .sec_head {
    margin: 0 0 40px;
}
    .bs_news .button_group {
    padding: 40px 0 0;
}


    .news-more a {
    font-size: 28px;
    }

    /**/
    .blog .large_post .post_content {
    padding: 10px 0 100px 0;
}

    .share-icons li span {
        font-size: 32px;
    }
    .share-icons li a i{
        width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 14px;
        line-height: 30px;
}
    .blog-pagination {
        font-size: 32px;
        margin: 0;
    }

}

@media only screen and (max-width: 1199px) {
    .section_cta .image-bg .bg_shape {
        right: -40%;
    }
}

@media only screen and (max-width: 991px) {
    .bs_four_column .box {
        margin-bottom: 20px;
    }
    .nav-tabs li, .nav-tabs .nav-item {
        margin: 5px;
    }
    .site-slider .slick-arrow {
    width: 30px;
    height: 59px;
}

    body .gform_wrapper .gform_footer {
    margin: 0;
    padding: 15px 0 0;
    position: relative;
    left: inherit;
    width: 100%;
    transform: none;
    -webkit-transform: none;
}
    .news-item-inner {
    padding: 0;
}
    .bs_news .site-slider .slick-arrow.slick-next {
    right: -25px;
}
    .bs_news .site-slider .slick-arrow.slick-prev {
    left: -25px;
}


    .cta_icon img {
    max-width: 180px;
    margin: 0 0 32px;
}
    .section_cta h3 {
        font-size: 24px;
    }
    .section_cta {
    position: relative;
    padding: 23px 0;
}

}

@media only screen and (max-width: 767px) {
    body {
    font-size: 16px;
}

    

    /**/
    .site-logo {
        width: 60%;
    }
    /**/
    .btn {
    font-size: 24px;
    line-height: 36px;
    width: auto;
        min-width: 240px;
    height: auto;
}


    body .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
        height: auto;
        line-height: 36px !important;
    }

    .form_area {
        padding: 10px 0 20px;
    }

    /**/
    .news-item-inner {
    padding: 0 20px;
}
    .bs_news .site-slider .slick-arrow.slick-next {
    right: 0;
}
    .bs_news .site-slider .slick-arrow.slick-prev {
    left: 0;
}
    /**/
    .news-details {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
    .news-item h2 {
    line-height: 0.75;
    margin: 0 0 20px;
}
    .news-image {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        margin-bottom: 30px;
    }

    .bs_news .button_group {
    padding: 20px 0 0;
}
    .news-more a {
    font-size: 24px;
    }

    .container {
    padding: 0 15px;
}

    /**/
    .sec_head {
    position: relative;
    margin: 0 0 20px;
}
    .sec_head h2.heading, h2, h1 {
    font-size: 40px;
}
    .shape_01 img {
    max-width: 100px;
}
    .shape_02 img {
    max-width: 70px;
}
    /**/
    .bloc_section.bs_hsc .site-slider {
    margin: 0 0 30px;
}



    /**/
    #content {
        text-align: center;
    }

    .header-container {
    padding: 0 15px;
}


	.mainMenuScroller {
    padding: 0 6px 30px 0;
}

    /**/
    .blog .large_post .post_url {
    position: inherit;
}

    .blog .large_post .post_content {
    padding: 0;
}
    .large_post .divider {
        margin: 34px 0 54px;
    }

    .post-image {
        margin: 0 0 32px;
    }
    .post-box img {
        display: block;
        width: 100%;
    }
    .small_post {
    margin: 0 0 20px;
}
    .wp-pagenavi {
    font-size: 0;
    line-height: 0;
    padding: 15px 0 0;
}
    body.blog #content, body.search-results #content {
    padding-bottom: 60px;
}

    /**/
    .news_bar {
        margin: 0 0 15px;
        padding: 15px 0;
    }

    .news_bar .news_back {

}
    .news_bar .news_heading {
    font-size: 40px;
}
    .news_bar .news_search {
    width: 40px;
    height: 40px;
}
    .news_bar .news_search img {
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px auto;
}




    /**/

    .topMenu {
        display: none;
    }
    .headerLeft .social_media {
      display: none;
    }
    .scroll_logo {
      margin: 0;
    }
    .scroll_logo img {
      width: 160px;
    }
    .col-right-space {
    padding: 0;
}
    .footer_logo {
    text-align: center;
}
    .footer_logo {
    text-align: center;
    background: #f5f5f5;
    padding: 20px;
}


    .menu-footer-menu-container .menu li {
        margin: 5px 15px 12px 0;
}
    .menu-footer-menu-container .menu {
        text-align: center;
    }
    .footer-section .footer-info li a br {
        display: none;
    }

    /**/
    .sidebarMenu {
        width: 100%;
    }


    /**/
    .section_cta .image-bg {
        display: none;
    }


    /**/
    .search_bg {
        height: 50px;
    }
    .search_bg #search {
        height: 50px;
    }


	/**/
	.bloc_section .news-excerpt {
	padding-right:0;
}

}

@media only screen and (max-width: 479px) {
    .col-xxs-12 {
            -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }

    .news-item-inner {
    padding: 0 10px;
}
    .site-slider .slick-arrow {
    width: 20px;
    height: 39px;
}
    .sidebar_footer .sidebar-info {
        font-size: 14px;
    }

    /**/
    .share-icons li:first-child {
        display: block;
        margin: 0 0 10px;
    }
}
@media only screen and (max-width: 479px) {
    .news_bar .news_back {

}
    .news_bar .news_heading {
    font-size: 30px;
}
}
